* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 1920px;
  height: 1618px;
}
.header {
  width: 1200px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px auto;
}
.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #95e1d3;
}
.header__nav {
  width: 470px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #95e1d3;
  text-transform: uppercase;

  padding: 10px;
  position: relative; /* Буде головним */
}
.nav__link::before {
  position: absolute; /* обв'язкова властивість */
  content: ""; /* обв'язкова властивість */
  width: 5%;
  height: 0%;
  right: 0;
  top: 0;
  background-color: #95e1d3;
  transition: 0.4s;
}
.nav__link:hover::before {
  height: 100%;
}
.nav__link::after {
  position: absolute; /* обв'язкова властивість */
  content: ""; /* обв'язкова властивість */
  width: 5%;
  height: 0%;
  left: 0;
  bottom: 0;
  background-color: #f38181;
  transition: 0.4s;
}
.nav__link:hover::after {
  height: 100%;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.info-block {
  width: 275px;
  height: 136px;
  margin: 65px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.block__txt {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
}
.block__txt:nth-child(2) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  font-variant: all-small-caps;
  color: #333333;
}
.rectangle {
  background: #f38181;
  width: 60px;
  height: 4px;
}
.benefits {
  width: 1168px;
  height: 253px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.item {
  width: 327.78px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: #5b5b5b;
  transition: 0.4s;
  z-index: -1;
  padding: 20px;
  opacity: 0;
  border-radius: 10px;
}
.item:hover::before {
  width: 100%;
  opacity: 100%;
}
.item:hover .item__txt {
  color: #f38181;
}
.item__txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-variant: small-caps;
  color: #333333;
  transition: 0.4s;
}
.item__txt2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b6;
}
.item__img {
  width: 37.8px;
  height: 37px;
}
.section-1 {
  display: flex;
  width: 39px;
  height: 74px;
}
.section-2 {
  height: 100%;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second-info-block {
  width: 1104px;
  height: 221px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 0 auto;
}
.block__txt2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #b6b6b6;
}
.men {
  width: 1210px;
  height: 556px;
  margin: 17px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first__man {
  width: 390px;
  height: 556px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.first__man::before {
  position: absolute;
  content: "";
  width: 380px;
  height: 470px;
  background: linear-gradient(
    180deg,
    rgba(239, 139, 138, 0.8) 0%,
    rgba(229, 207, 130, 0.8) 100%
  );
  top: 0;
  left: -5px;
  opacity: 0;
  transition: 0.4s;
}
.first__man:hover::before {
  opacity: 100%;
}
.second__man {
  width: 380px;
  height: 546px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.second__man::before {
  position: absolute;
  content: "";
  width: 0;
  height: 470px;
  background: linear-gradient(
    180deg,
    rgba(239, 139, 138, 0.8) 0%,
    rgba(229, 207, 130, 0.8) 100%
  );
  top: 0;
  left: -7px;
  transition: 0.8s;
}
.second__man:hover::before {
  width: 380px;
}
.third__man {
  width: 380px;
  height: 545px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.third__man::before {
  position: absolute;
  content: "";
  width: 380px;
  height: 0;
  background: linear-gradient(
    180deg,
    rgba(239, 139, 138, 0.8) 0%,
    rgba(229, 207, 130, 0.8) 100%
  );
  top: 0;
  left: -7px;
  transition: 0.8s;
}
.third__man:hover::before {
  height: 470px;
}
.man__img {
  width: 380px;
}
.man__txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-variant: all-small-caps;
  color: #333333;
}
.man__txt:nth-child(2) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #b6b6b6;
}
.footer {
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px auto;
}
.footer__txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.footer__input {
  width: 230px;
  height: 39px;
  border: 1px solid #b6b6b6;
}
.footer__input::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b6b6b6;
  padding: 12px 145px 11px 10px;
}
.footer__button {
  width: 150px;
  height: 40px;
  background: #95e1d3;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-variant: all-small-caps;
  color: #ffffff;
  cursor: pointer;
}
.box {
  width: 380px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.line {
  width: 1200px;
  height: 1px;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: flex-start;
}
